RDECK_BASE=/var/lib/rundeck
RDECK_CONFIG=/etc/rundeck
RDECK_SERVER_BASE=/var/lib/rundeck
RDECK_PROJECTS=/var/rundeck/projects
RDECK_HTTP_PORT=4440
RDECK_HTTPS_PORT=4443
RDECK_JVM_SETTINGS="-Xmx1024m -Xms512m -XX:MaxMetaspaceSize=512m -server -Djava.security.egd=file:/dev/./urandom"
JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64